<!DOCTYPE html>
<html>
<head>
  <title>Feed Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="navbar">
    <div class="navbar__container">
      <a id="navbar__logo" href="#">Feed</a>
      <ul class="navbar__menu">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>

  <form class="form">
    <h3>Create a Post</h3>
    <label for="post-contents">Post:</label>
    <textarea id="post-contents" name="contents" required></textarea>

    <button id="submit-post" type="submit">Create Post</button>
  </form>

  <div id="posts-body" class="posts-container"></div>

  <script src="/js/APIFETCH.js"></script>
</body>
</html>
